@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {

		/* fuentes */
		--fontPrimary: 'Lato', sans-serif;
		--fsSmall: 14px;
		--fsNormal: 16px;
		--fsHeadline: 20px;
		--fsBig: 24px;
		/* colores */
		--colorPrimary: #D9A867;
		--colorSecondary: #343434;
		--color-blue-title: #0E2E50;
		--color-green-title: #00B98E;
		--color-black-pearl-700: #3C5562;
		--bgColor: #fff;
		--colorSimilar: #DFBC8E;
		/* componentes */
		--navHeight: 100px;
		--containerMaxWidth: 1920px;
		--logoHeight: 100px;

		/*  */

		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;

		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;

		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 212.7 26.8% 83.9%;
	}
}

html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	font-family: var(--fontPrimary);
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.title {
	font-size: var(--fsBig);
	text-align: center;
}

.subtitle {
	font-size: var(--fsHeadline);
	text-align: center;
}

.container {
	width: 100%;
	max-width: var(--containerMaxWidth);
	margin: 0 auto;
}

.header {
	background-image: url('./assets/imgs/hero-bg.png');
	object-fit: cover;
}

@layer components {
	.iconos {
		background-image: url('../assets/imgs/burger-menu.svg');
		background-image: url('../assets/imgs/close-menu.svg');
	}
}