@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
	/* fuentes */
	--fontPrimary: 'Lato', sans-serif;
	--fsSmall: 14px;
	--fsNormal: 16px;
	--fsHeadline: 20px;
	--fsBig: 24px;
	/* colores */
	--colorPrimary: #D9A867;
	--colorSecondary: #343434;
	--color-blue-title: #0E2E50;
	--color-green-title: #00B98E;
	--color-black-pearl-700: #3C5562;
	--bgColor: #fff;
	--colorSimilar: #DFBC8E;
	/* componentes */
	--navHeight: 100px;
	--containerMaxWidth: 1920px;
	--logoHeight: 100px;
}

html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	font-family: var(--fontPrimary);
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.title {
	font-size: var(--fsBig);
	text-align: center;
}

.subtitle {
	font-size: var(--fsHeadline);
	text-align: center;
}

.container {
	width: 100%;
	max-width: var(--containerMaxWidth);
	margin: 0 auto;
}

.header {
	background-image: url('./assets/imgs/hero-bg.png');
	object-fit: cover;
}

@layer components {
	.iconos {
		background-image: url('../assets/imgs/burger-menu.svg');
		background-image: url('../assets/imgs/close-menu.svg');
	}
}