.form-container {
	max-width: 400px;
	margin: auto;
}

form {
	margin-top: 140px;
}

label {
	display: block;
	margin-bottom: 10px;
}

input,
textarea {
	width: 100%;
	padding: 8px;
	margin-top: 4px;
	margin-bottom: 10px;
}

button {
	background-color: #00a8e8;
	color: white;
	padding: 10px;
	border: none;
	cursor: pointer;
}

button:hover {
	background-color: #007bb5;
}